<div class="welcome">
    <div class="escudos1">
        <div>
            <img src="/img/escudos/alaves.png" alt="alaves">
            <img src="/img/escudos/athletic.png" alt="athletic">
            <img src="/img/escudos/atletico.png" alt="atletico">
            <img src="/img/escudos/barcelona.png" alt="barcelona">
        </div>
        <div>
            <img src="/img/escudos/lasPalmas.png" alt="las palmas">
            <img src="/img/escudos/leganes.png" alt="leganes">
        </div>
        <div>
            <img src="/img/escudos/rayo.png" alt="rayo">
            <img src="/img/escudos/realBetis.png" alt="betis">
            <img src="/img/escudos/realMadrid.png" alt="madrid">
            <img src="/img/escudos/realSociedad.png" alt="sociedad">
        </div>
    </div>
    <div class="logo">
        <img src="/img/logo.png" alt="logo" (click)="goToInicio()">
    </div>
    <div class="escudos2">
        <div>
            <img src="/img/escudos/celta.png" alt="celta">
            <img src="/img/escudos/espanyol.png" alt="espanyol">
            <img src="/img/escudos/getafe.png" alt="getafe">
            <img src="/img/escudos/girona.png" alt="girona">
        </div>
        <div>
            <img src="/img/escudos/mallorca.png" alt="marllorca">
            <img src="/img/escudos/osasuna.png" alt="osasuna">
        </div>
        <div>
            <img src="/img/escudos/sevilla.png" alt="sevilla">
            <img src="/img/escudos/valencia.png" alt="valencia">
            <img src="/img/escudos/valladolid.png" alt="valladolid">
            <img src="/img/escudos/villarreal.png" alt="villarreal">
        </div>
    </div>
</div>
