.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0a0f1c;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.texto {
    text-align: center;
    font-size: 1em;
}

@media(max-width: 600px) {
    
    .footer {
        font-size: 0.8em;
    }
    
}