<div class="index">
    <div class="title">
        <h1>INICIO</h1>
    </div>
    <h2>Sitio web de La Liga - temporada 2024/2025</h2>
    <div class="carousel-container">
        <div class="carousel-track" #carouselTrack>
            <picture><img src="img/carrusel/imagen1.jpg" alt="Imagen 1"></picture>
            <picture><img src="img/carrusel/imagen2.jpg" alt="Imagen 2"></picture>
            <picture><img src="img/carrusel/imagen3.jpg" alt="Imagen 3"></picture>
            <picture><img src="img/carrusel/imagen4.jpg" alt="Imagen 4"></picture>
            <picture><img src="img/carrusel/imagen5.jpg" alt="Imagen 5"></picture>
            <picture><img src="img/carrusel/imagen6.jpg" alt="Imagen 6"></picture>
          </div>
    </div>
    <div class="info">
        <div class="info-enlace" (click)="goTo('/home/clubes')">
            <h3>Consulta información sobre los clubes</h3>
            <i class="fas fa-futbol"></i>
            <button class="info-btn"><strong>CLUBES</strong></button>
        </div>
        <div class="info-enlace" (click)="goTo('/home/clasf')">
            <h3>Clasificación temporada</h3>
            <i class="fas fa-trophy"></i>
            <button class="info-btn"><strong>CLASIFICACIÓN</strong></button>
        </div>
        <div class="info-enlace" (click)="goTo('/home/record')">
            <h3>Récords y hazañas</h3>
            <i class="fas fa-chart-line"></i>
            <button class="info-btn"><strong>RÉCORDS</strong></button>
        </div>
    </div>
    <div class="info-clubes">
        <div class="info-campeon">
            <h3>El <strong>FC Barcelona</strong> es el campeón de la temporada 2024/2025</h3>
            <p>Grandiosa temporada del equipo comandado por <a>Hansi Flick</a>, que supo recomponerse a los altibajos de Noviembre y Diciembre con una segunda vuelta espectacular, destacando el rendimiento de jugadores como <a>Pedri</a>, <a>Lamine Yamal</a> y <a>Rafinha</a>.</p>
            <img src="img/campeon.jpg" alt="campeon">
            <div class="mvp">
                <div class="mvp-datos">
                    <h3>Mejor jugador</h3>
                    <p>Raphinha</p>
                    <img src="img/raphinha.jpg" alt="raphinha">
                </div>
                <div class="mvp-datos">
                    <h3>Mejor entrenador</h3>
                    <p>Hansi Flick</p>
                    <img src="img/flick.jpg" alt="flick">
                </div>
            </div>
        </div>
        <div class="info2">
            <div class="info-europa">
                <h3>Son de Europa</h3>
                <p><a>Real Madrid</a>, <a>Atlético de Madrid</a>, <a>Athletic de Bilbao</a>, <a>Villarreal</a>, <a>Real Betis</a>, <a>Celta</a> y <a>Rayo Vallecano</a> jugarán en competiciones europeas la próxima temporada ¡Enhorabuena a todos!</p>
                <img src="img/madrid.jpg" alt="madrid">
            </div>
            <div class="info-ascenso">
                <h3>De vuelta a Primera</h3>
                <p>Felicidades a <a>Levante</a> y <a>Elche</a> por su regreso a la máxima categoría.</p>
                <img src="img/levante.jpg" alt="levante">
            </div>
        </div>
    </div>
</div>
