<div class="records">
    <div class="title">
        <h1>DATOS</h1>
    </div>
    <h2>Temporada 2024/2025 - Récords y hazañas</h2>

    <div class="record-area">
        <div class="record-column">
            <div class="record-title">
                <h2>TEMPORADA</h2>
                <h3>Mejores estadísticas de la temporada</h3>
            </div>
            <div class="data">
                <h3>JUGADORES</h3>
                <p><strong>Máximo goleador: </strong><a>Kylian Mbappé</a> - 31 goles</p>
                <p><strong>Zarra: </strong><a>Ayoze Pérez</a> - 19 goles</p>
                <p><strong>Zamora: </strong><a>Jan Oblak</a></p>
                <p><strong>Máximo asistente: </strong><a>Lamine Yamal</a> - 19 asistencias</p>
                <p><strong>Tarjetas amarillas: </strong><a>Yvan Neyou</a> - 14 amarillas</p>
                <p><strong>Tarjetas rojas: </strong><a>Iván Martín</a> - 3 rojas</p>
                <p><strong>Mejor pasador: </strong><a>Pedri</a></p>
                <p><strong>Más paradas: </strong><a>Joan García</a> - 146 paradas</p>
            </div>
            <hr>
            <div class="data">
                <h3>EQUIPO</h3>
                <p><strong>Más goles a favor: </strong><a>Barcelona</a> - 102 goles</p>
                <p><strong>Menos goles en contra: </strong><a>Athletic</a> - 30 goles</p>
            </div>
        </div>
        <div class="record-column">
            <div class="record-title">
                <h2>HISTORIA</h2>
                <h3>Hazañas de la temporada que han pasado a la historia</h3>
            </div>
            <div class="data">
                <h3>Sorloth, el hombre de los récords</h3>
                <p>El delantero noruego del <a>Atlético de Madrid</a> Alexander <a>Sorloth</a> ha conseguido batir el récord de goles saliendo desde el banquillo, con un total de 12 goles. Además, ha conseguido el hat-trick más rápido en la historia de la competición, con 3 goles anotados en 3 minutos y 57 segundos en el partido contra la <a>Real Sociedad</a>. </p>
            </div>
            <hr>
            <div class="data">
                <h3>Mbappé, debutante de oro</h3>
                <p><a>Mbappé</a> ha pasado a la historia como el debutante con más goles en una temporada en el <a>Real Madrid</a>, tanto en Liga como en todas las competiciones, superando a Iván Zamorano. El delantero francés ha anotado 31 goles en Liga y un total de 42 goles en todas las competiciones.</p>
            </div>
            <hr>
            <div class="data">
                <h3>Valladolid y una segunda vuelta catastrófica</h3>
                <p>Lamentablemente, el <a>Valladolid</a> ha protagonizado la peor segunda vuelta en la historia de La Liga, con tan sólo 1 punto sumado. Le deseamos al club y a la afición que vuelvan a Primera División lo antes posible.</p>
            </div>
        </div>
    </div>
    
    <div class="volver" (click)="goTo('/home/')">
        <button class="btnVolver">Volver</button>
    </div>
</div>
